altgraph==0.17
asgiref==3.3.1
beautifulsoup4==4.9.2
certifi==2020.6.20
chardet==3.0.4
comtypes==1.1.7
Django==3.1.3
docopt==0.6.2
future==0.18.2
gunicorn==20.1.0
idna==2.10
pefile==2019.4.18
Pillow==8.1.2
pipreqs==0.4.10
PyAudio==0.2.11
pygame==1.9.6
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
pypiwin32==223
pyttsx3==2.90
pytz==2020.4
pywin32==228
pywin32-ctypes==0.2.0
requests==2.24.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
urllib3==1.25.10
wikipedia==1.4.0
yarg==0.1.9
